<div class="loadingspinner" *ngIf='showImage' >
  <img src="../assets/Loading_icon.gif">
</div>
<table class="table table-striped table-bordered" *ngIf="posts && posts.length">
  <thead>
    <tr>
      <th>
        albumId
      </th>
      <th>
        ID
      </th>
      <th>
        title
      </th>
      <th>
        url
      </th>
      <th>
        thumbnailUrl
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pcomments of posts">
      <td>
        {{pcomments.albumId}}
      </td>
      <td>
        {{pcomments.id}}
      </td>
      <td>
        {{pcomments.title}}
      </td>
      <td>
        <img src="{{pcomments.url}}">
      </td>
      <td>
        <img src="{{pcomments.thumbnailUrl}}">
      </td>
    </tr>
  </tbody>
</table>